<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">

<title>Help!</title>

<style>
</style>

    <script src='/js/lib/adapter.js'></script>


</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/video/0">Video Chat</a></li>
        <li role="presentation"><a href="/signup">Sign up</a></li>
        <li role="presentation"><a href="/posts">Posts</a></li>
        <li role="presentation"><a href="/newpost">Create Post</a></li>
      </ul> 
    </div>
    <div class="col-lg-3 col-md-6" id="session">
        <h4>Currently logged in as <%=currentUser.username%></h4>
         <form action="/logout">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
      </div>
    </div>
</div>
<hr>
  <%- body %>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
   <form action="/random" method="GET">
      <legend>Random Pokemon Generator (enter a number between 1 and 721)</legend>
        <input type="text" class="form-control" id="" placeholder="ex. 720" name="q">
      <button type="submit" class="btn btn-primary">Pokemon</button>
    </form>
  </div>
</nav>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</body>

</html>
