

<h1>Pokemon (click name for more info)</h1>

<h2><img src="http://bulbapedia.bulbagarden.net/wiki/File:<%=random.id%><%=random.name%>.png"> <a href="http://bulbapedia.bulbagarden.net/wiki/<%=random.name%>_(Pok%C3%A9mon)"><%=random.name%></a></h2>
