<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	    <link rel="stylesheet" href="../style.css">
</head>
<body>
	<form method="POST">
		First Name: <input name="firstName" placeholder="First Name"><br>
		Last Name: <input name="lastName" placeholder="Last Name"><br>
		Language: <input name="language" placeholder="Language"><br>
		Location: <input name="location" placeholder="Location"><br>
		Email: <input name="email" placeholder="Email"><br>
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>