
<div class="container">
      <% if (typeof alerts !== 'undefined') { %>
        <% for (key in alerts) { %>
          <% alerts[key].forEach(function(thisMsg) { %>
            <div class="alert alert-<%= key %>"><%= thisMsg %></div>
          <% }); %>
        <% } %>
      <% } %>
    </div>


	<form method="POST">
		Username: <input type="text"name="username" placeholder="Username"><br>
		Password: <input type="password" name="password" placeholder="Password"> <br>
		Email: <input type="text" name="email" placeholder="Email"><br>
		Language: <select name="language" value ="Language">
								  <option value="English">English</option>
								  <option value="Korean">Korean</option>
								  <option value="Japanese">Japanese</option>
								</select><br>
		Location: <select name="location" value ="Location">
								  <option value="US">US</option>
								  <option value="Korea">Korea</option>
								  <option value="Japan">Japan</option>
								</select><br>
		<input class="btn btn-info" type="submit" value="Sign Up">
	</form><br>