#my-video {
	max-width: 150px;
	max-height: 150px;
	margin-left: -30px;
	margin-top: -180px;
}
body {
	color: white;
	font-weight: bold;
	background-color:tan;
	margin-left:50px;
}

.img-thumbnail {
	max-height:100px;
	max-width:100px;
}

.post {
	border-style: solid;
	border-color:black;
	border-radius: 5px;
   border-width: 2px;
   margin-top:7px;
   margin-right: 50px;
   background-color:white;
   color: black;

}

.form-control {
	max-width: 700px;
}

#session {
	color:black;
}

.container {
	margin-bottom: 10px;
}

h1 {
	font-size: 40
	color: white;
	text-shadow: 1px 1px 1px #000,
            -1px -1px 1px #000,
            -1px 1px 1px #000,
             1px -1px 1px #000;
}

h2 {
		color: white;
	text-shadow: 1px 1px 1px #000,
            -1px -1px 1px #000,
            -1px 1px 1px #000,
             1px -1px 1px #000;
}

a {
	color: white;
		text-shadow: 1px 1px 1px #000,
             -1px -1px 1px #000,
             -1px 1px 1px #000,
              1px -1px 1px #000;
}

a:hover {
    color: skyblue;
}

#pokemon {
	max-width: 300px;
}

input {
	color: black;
}