#remoteVideo {
	max-width: 150px;
	max-height: 150px;
	margin-left: -180px;
	margin-bottom: 30px;
}
body {
	color: midnightblue;
	font-weight: bold;
	background-color:white;
	margin-left:50px;
}

.img-thumbnail {
	max-height:100px;
	max-width:100px;
}

.post {
	border-style: solid;
	border-color:black;
	border-radius: 5px;
   border-width: 2px;
   margin-top:7px;
   margin-right: 50px;
   background-color:white;
}

.form-control {
	max-width: 700px;
}

#session {
	color:black;
}

.container {
	margin-bottom: 10px;
}

h1 {
	font-size: 40
}